<header>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="#">ExFile</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4"></div>
    </div>
</header>