<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jQuery-v3.4.1.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body class="{{template}}">
  {{> header}}
  <div class="container-fluid">
	  {{{body}}}
  </div>
  {{> footer}}
</body>
</html>